page-more {
    .header .toolbar .title .toolbar-title {
        font-size: 1.75rem;
        letter-spacing: 0 !important;
        span {
            font-size: 1.9rem;
        }
    }
    .list {
        margin: 0;
        h2 {
            margin: 0;
            font-size: 1.65rem;
            letter-spacing: 0;
            padding: 12px 16px 12px 16px;
            color: lighten($gray, 20%);
            font-weight: 400;
            letter-spacing: .5px;
        }
        .item {
            padding: 4px 0px;
            margin-bottom: 6px;
            align-items: center;
            &.profile {
                padding: 6px 13px;
                .label {
                    margin: 0;
                    h1 {
                        margin: 0;
                        color: $black;
                        font-weight: 600;
                        letter-spacing: 0;
                        font-size: 2.1rem;
                        padding-bottom: 5px;
                    }
                    h4 {
                        font-size: 1.63rem;
                        padding-bottom: 13px;
                        color: $text-light;
                    }
                }
                .profile_img_box {
                    width: 140px;
                    margin: 23px auto;
                    margin-bottom: 22px;
                    position: relative;
                    overflow: hidden;
                    .profile_img {
                        width: 130px;
                        height: 130px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;
                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: -50% !important;
                            right: -50% !important;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                        }
                    }
                    ion-icon {
                        font-size: 1.6rem;
                        width: 32px;
                        text-align: center;
                        height: 32px;
                        line-height: 32px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        right: 10px;
                    }
                }
            }
            .item-inner {
                margin: 0;
                padding: 0 !important;
                .label {
                    margin: 0;
                    h3 {
                        font-size: 1.65rem;
                        font-weight: 500;
                        letter-spacing: 0;
                        position: relative;
                        top: -3px;
                    }
                }
            }
            ion-icon {
                &[item-start] {
                    margin: 0;
                    text-align: center;
                    min-width: 55px;
                    font-size: 2rem;
                }
            }
        }
    }
}
