<ion-header>
    <ion-navbar>
        <ion-title>Profile</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="bg-color">
    <ion-list no-lines>
        <ion-item class="profile ">
            <div class="profile_img_box animated zoomIn delay_1">
                <div class="profile_img">
                    <img src="assets/imgs/user.png">
                </div>
            </div>
            <h1 class="" text-center>{{userData.name}}</h1>
            <h4 text-center>{{userData.role}}</h4>
        </ion-item>
        <h2>{{'settings' | translate}}</h2>

        <!-- <ion-item class="animated slideInRight delay_1" (click)="privacy()">
            <ion-icon class="material-icons text-theme" item-start>lock</ion-icon>
            <h3>{{'privacy_setting' | translate}}</h3>
        </ion-item>

        <ion-item class="animated slideInRight delay_2" (click)="chatsetting()">
            <ion-icon class="material-icons text-theme" item-start>textsms</ion-icon>
            <h3>{{'chat_setting' | translate}}</h3>
        </ion-item>

        <ion-item class="animated slideInRight delay_3" (click)="notificationsetting()">
            <ion-icon class="material-icons text-theme" item-start>notifications_active</ion-icon>
            <h3>{{'notification_setting' | translate}}</h3>
        </ion-item> -->

        <ion-item class="animated slideInRight delay_4" (click)="help()">
            <ion-icon class="material-icons text-theme" item-start>help</ion-icon>
            <h3>{{'need_help' | translate}}</h3>
        </ion-item>
        <ion-item class="animated slideInRight delay_4" (click)="logout()">
            <ion-icon class="material-icons text-theme" item-start>logout</ion-icon>
            <h3>Logout</h3>
        </ion-item>

    </ion-list>
    <!-- <ion-fab class="fab_btn" bottom right>
        <button bottom ion-fab class="bg-theme">
            <ion-icon class="material-icons">share</ion-icon>
        </button>
    </ion-fab> -->
</ion-content>
