<ion-tabs class="">
    <ion-tab [root]="tab1Root" tabTitle="Chats" tabIcon="md-chatbubbles" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Bots" tabIcon="md-people" tabsHideOnSubPages="true"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="More" tabIcon="ios-more" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
