<ion-header>
    <ion-navbar>
        <ion-title>{{'profile' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <div class="form">
        <ion-list no-lines>
            <ion-item class="profile">
                <div class="profile_img_box animated zoomIn delay_1" (click)="profilepicture()">
                    <div class="profile_img">
                        <img src="assets/imgs/profile_pic.png">
                    </div>
                </div>
                <h1 class="" text-center>Luicy Williams</h1>
                <h4 text-center>Day one or One Day - You choice</h4>
            </ion-item>

            <ion-item class="media_shared">
                <ion-label>{{'media_shared' | translate}}</ion-label>
                <ion-row item-end class="animated slideInUp delay_1">
                    <ion-col col>
                        <div class="img_box">
                            <img src="assets/imgs/m1.png">
                        </div>
                    </ion-col>
                    <ion-col col>
                        <div class="img_box">
                            <img src="assets/imgs/m2.png">
                        </div>
                    </ion-col>
                    <ion-col col>
                        <div class="img_box">
                            <img src="assets/imgs/m3.png">
                        </div>
                    </ion-col>
                    <ion-col col>
                        <div class="img_box">
                            <img src="assets/imgs/m4.png">
                        </div>
                    </ion-col>
                    <ion-col col>
                        <div class="img_box">
                            <img src="assets/imgs/m5.png">
                        </div>
                    </ion-col>
                    <h6 text-center class="bg-theme text-white">{{'view_all' | translate}}</h6>
                </ion-row>
            </ion-item>

            <ion-item>
                <ion-label>{{'mute_notification' | translate}}</ion-label>
                <ion-toggle item-end checked="true"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>{{'phone_number' | translate}}</ion-label>
                <ion-input type="text" value="+1 987 654 3210" readonly></ion-input>
                <h3 class="text-theme" item-end>
                    <ion-icon class="material-icons" (click)="videocall()">videocam</ion-icon>
                    <ion-icon class="material-icons" (click)="voicecall()">phone</ion-icon>
                </h3>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col class="d-flex">
            <ion-icon class="material-icons text-theme">error</ion-icon>
            <h6>{{'report_spam' | translate}}</h6>
        </ion-col>
        <ion-col class="d-flex">
            <ion-icon class="material-icons text-theme">block</ion-icon>
            <h6>{{'block_profile' | translate}}</h6>
        </ion-col>
    </ion-row>
</ion-footer>
