page-profileinfo {
    .form {
        .list {
            margin: 0;
            h2 {
                margin: 0;
                font-size: 1.86rem;
                letter-spacing: 0;
                padding: 12px 16px 12px 16px;
                color: lighten($gray, 10%);
            }
            .item {
                padding: 13px 15px;
                margin-bottom: 7px;
                &.profile {
                    padding: 6px 13px;
                    .label {
                        margin: 0;
                        h1 {
                            margin: 0;
                            color: $black;
                            font-weight: 600;
                            letter-spacing: 0;
                            font-size: 2.1rem;
                            padding-bottom: 5px;
                        }
                        h4 {
                            font-size: 1.63rem;
                            padding-bottom: 13px;
                            color: $text-light;
                        }
                    }
                    .profile_img_box {
                        width: 140px;
                        margin: 23px auto;
                        margin-bottom: 22px;
                        position: relative;
                        overflow: hidden;
                        .profile_img {
                            width: 130px;
                            height: 130px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 50%;
                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: -50% !important;
                                right: -50% !important;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                            }
                        }
                        ion-icon {
                            font-size: 1.6rem;
                            width: 32px;
                            text-align: center;
                            height: 32px;
                            line-height: 32px;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            right: 6px;
                        }
                    }
                }
                &.media_shared {
                    .item-inner {
                        display: block;
                        .row {
                            position: relative;
                            margin: 0 -3px!important;
                            .col {
                                padding: 0 1px;
                            }
                            h6 {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 93px;
                                right: 0;
                                bottom: 0;
                                height: 27px;
                                border-radius: 50px;
                                line-height: 27px;
                                margin: auto;
                            }
                        }
                    }
                }
                &.item-toggle {
                    padding: 6px 15px;
                    ion-label {
                        margin: 0;
                        font-size: 1.8rem;
                        color: $black;
                        font-weight: 500;
                        letter-spacing: 0;
                        margin-top: 11px;
                    }
                }
                .label {
                    margin: 0 3px;
                    margin-bottom: 7px;
                }
                .input-wrapper {
                    display: block;
                }
            }
            h3 {
                &[item-end] {
                    margin: 0;
                    font-size: 1.8rem;
                    font-weight: 500;
                    min-width: 80px;
                    ion-icon {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    ion-footer {
        padding-bottom: 17px;
        &::before,
        &::after {
            display: none;
        }
        ion-row {
            .col {
                ion-icon {
                    font-size: 1.9rem;
                    margin: 0 13px;
                }
                h6 {
                    margin: 0;
                    font-size: 1.5rem;
                    color: lighten($gray, 10%);
                }
            }
        }
    }
}
