page-verification {
    .header {
        padding-top: 10px;
        ion-navbar {
            .toolbar-title {
                img {
                    width: 40px;
                }
                span {
                    letter-spacing: 1px;
                    &.app_title {
                        margin: 0 20px;
                    }
                    &.end {
                        font-size: 1.4rem;
                        font-weight: 400;
                    }
                }
            }
            .toolbar-background {
                background: transparent !important;
            }
        }
    }
    h1 {
        margin: 0;
        font-size: 1.95rem;
        margin-top: 60px;
    }
    p {
        margin: 0 auto;
        font-size: 1.5rem;
        width: 300px;
        margin-top: 24px;
        line-height: 20px;
    }
    .form {
        margin-top: 15vh;
        padding: 10pt;

        // padding-top: 40px;
        .list {
            .item {
                padding: 5px 0;
                border-radius: 10px;
                margin-bottom:10pt;
                h2 {
                    &[item-start] {
                        margin: 0;
                        min-width: 55px;
                        font-size: 1.9rem;
                        font-weight: 500;
                    }
                }
                .button.btn {
                    &[item-end] {
                        margin: 0 10px;
                        min-width: 105px;
                    }
                }
            }
            .item-success{
                // box-shadow: 0 0 25px #32db64 !important;
                border: 2px solid #32db64 !important;

            }
            .item-error{
                border: 2px solid #f53d3d !important;

                // box-shadow: 0 0 25px #f53d3d !important;
            }
        }
        .button.btn {
            font-weight: bold !important;
            height: 47px !important;
            font-size: 20px !important;
        }
    }
}
