<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-icon style="zoom: 1.5" name="arrow-back" (click)="onBack()"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-theme">
    <h1 style="font-size: 26px; font-weight: bold; color: #ffffff" text-center>{{'login_header' | translate}}</h1>
    <form #userForm="ngForm">
        <div class="form">
            <ion-list no-lines class="animated slideInUp delay_3">
                <ion-item
                    [ngClass]="{'item-success': userLoginResponse.status==='success','item-error': userLoginResponse.status==='failed'}">
                    <ion-input #userEmail="ngModel" name="userEmail" autocomplete="true" spellcheck="true" type="text"
                        [(ngModel)]="email" placeholder="Enter Email" required="true"></ion-input>
                </ion-item>
                <div *ngIf="userEmail.touched && !userEmail.valid" style="text-align: center; color: #fffbfb">
                    <h5>Email cannot be empty!</h5>
                </div>
                <ion-item
                    [ngClass]="{'item-success': userLoginResponse.status==='success','item-error': userLoginResponse.status==='failed'}">
                    <ion-input #userPassword="ngModel" name="userPassword" autocomplete="true" spellcheck="true"
                        type="password" [(ngModel)]="password" placeholder="Enter Password"
                        required="true"></ion-input>
                </ion-item>
                <div *ngIf="userPassword.touched && !userPassword.valid" style="text-align: center; color: #ffffff">
                    <h5>Password cannot be empty!</h5>
                </div>
            </ion-list>
            <br>
            <button [disabled]="userForm.invalid" ion-button block class="btn white_btn"
                (click)="login()">{{'confirm' | translate}}</button>
        </div>
    </form>
</ion-content>