<ion-header>
    <ion-navbar>
        <ion-title class="active">
            <div class="profile d-flex">
                <div class="profile_img_box" item-start>
                    <div class="profile_img">
                        <img src={{tenentUrl+bot.image}}>
                    </div>
                </div>
                <h2 style="color: white !important" class="text-white">{{bot.name}}</h2>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content #chattingContent>
    <div class="chat_container">
        <div class="chat-box d-flex" [ngClass]="{'received': message.user==='bot','send': message.user==='me'}"
            *ngFor="let message of allMessages">
            <p *ngIf="message.user==='me'">{{message.at | date:'shortTime'}}</p>
            <div class="caht_text d-flex">
                <div class="text selectable">
                    <h2 *ngIf="message.type=='PLAIN'" [innerHtml]="message.message | linkify"></h2>
                    <div *ngIf="message.type=='ADAPTIVECARD'">
                        <h2 *ngFor="let mes of message.message">{{mes.text}}</h2>
                    </div>
                </div>
            </div>
            <p *ngIf="message.user==='bot'">{{message.at | date:'shortTime'}}</p>
        </div>
    </div>
</ion-content>

<ion-footer class="form animated slideInUp delay_3">
    <ion-row>
        <ion-col col-10>
            <ion-list no-lines [ngClass]="viewType == 'active' ? 'list active':'list'">
                <ion-item>
                    <input type="file" style="display: none" (change)="uploadFile($event.target.files)" #uploader>
                    <ion-input #messageInput (keypress)="onKeyPress($event.keyCode)" type="text " autocomplete="true" spellcheck="true" [(ngModel)]="message" 
                        placeholder="{{ 'type_your_message' | translate}} ">
                    </ion-input>
                    <div item-end>
                        <ion-icon class="material-icons" (click)="uploader.click()">attach_file</ion-icon>
                    </div>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col col-2>
            <ion-fab (click)="sendMessage()">
                <button ion-fab color="theme-color">
                    <ion-icon class="material-icons">send</ion-icon>
                </button>
            </ion-fab>
        </ion-col>
    </ion-row>

</ion-footer>