page-chatting {
    .show-back-button{
        color: #ffffff !important;
    }
    .header {
        background: #fff;
        .toolbar .title {
            .toolbar-title {
                padding-left: 0 !important;
                .profile {
                    h2 {
                        margin: 0;
                        font-size: 1.75rem;
                        letter-spacing: .5px;
                        font-weight: 500;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin: 0 10px;
                        color: #000000 !important;
                        min-width: 53%;
                        max-width: 72%;
                    }
                }
                .profile_img_box {
                    &[item-start] {
                        margin: 0;
                        width: 45px;
                        height: 42px;
                        position: relative;
                        .profile_img {
                            width: 40px;
                            height: 40px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 50%;
                            img {
                                background: white;
                                border: 5px solid white;
                                border-radius: 50px;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: -50% !important;
                                right: -50% !important;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                            }
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 3px;
                        right: 3px;
                        width: 8px;
                        height: 8px;
                        border: 2px solid #7685ac;
                        background: lighten($gray, 28%);
                        border-radius: 50%;
                    }
                }
                span {
                    &.end {
                        min-width: 129px;
                        display: block;
                        ion-icon {
                            margin-left: 16px;
                        }
                    }
                }
            }
            &.active {
                .toolbar-title .profile_img_box::after {
                    background: $green;
                }
            }
        }
    }
    .content {
        background: linear-gradient(315deg, #ffffff 0%, #ffffff 74%);
        background-repeat: no-repeat;
        background-size: cover;
        .chat_container {
            padding: 10px 16px;
            .chat-box {
                margin-bottom: 10px;
                position: relative;
                overflow: hidden;
                &.d-flex {
                    width: auto;
                    align-items: flex-start;
                    .caht_text {
                        background: #ececec;
                        padding: 5px 8px;
                        border-radius: 6px;
                        min-width: 234px;
                        &.d-flex {
                            width: auto;
                        }
                        .profile_img {
                            min-width: 40px;
                            max-width: 40px;
                            height: 40px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 50%;
                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: -50% !important;
                                right: -50% !important;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                            }
                        }
                        .text {
                            padding: 0 18px;
                            width: 100%;
                            h2 {
                                margin: 0;
                                font-size: 1.6rem;
                                letter-spacing: 0;
                                padding: 9px 0;
                            }
                            h6 {
                                margin: 0;
                                font-size: 1rem;
                                color: lighten($gray, 10%);
                                padding-bottom: 5px;
                                font-weight: 400;
                            }
                        }
                    }
                }
                p {
                    margin: 0;
                    font-size: 1rem;
                    text-align: center;
                    min-width: 75px;
                    color: $black;
                    opacity: .6;
                    padding-top: 19px;
                }
                &.received {
                    float: left;
                }
                &.send {
                    float: right;
                    .caht_text {
                        background: $theme-color;
                        .text {
                            padding: 0 18px;
                            h2 {
                                color: $white;
                                text-align: end;
                                font-weight: 400;
                            }
                            h6 {
                                color: $white;
                                text-align: end;
                            }
                        }
                    }
                }
                .map {
                    display: none;
                }
                .video_box {
                    display: none;
                }
                .images {
                    display: none;
                }
                .contact_box {
                    display: none;
                }
                &.location {
                    .caht_text {
                        min-height: 170px;
                        border-radius: 30px;
                        padding: 10px 10px;
                        overflow: hidden;
                        position: relative;
                        padding-bottom: 100px;
                        &.d-flex {
                            align-items: flex-start;
                        }
                        .map {
                            position: absolute;
                            width: 100%;
                            height: 109px;
                            left: 0;
                            bottom: 0;
                            display: block;
                            ion-icon {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: auto;
                                width: 23px;
                                height: 23px;
                            }
                        }
                    }
                }
                &.video {
                    .caht_text {
                        min-height: 170px;
                        border-radius: 30px;
                        padding: 10px 10px;
                        overflow: hidden;
                        position: relative;
                        padding-bottom: 100px;
                        &.d-flex {
                            align-items: flex-start;
                        }
                        .video_box {
                            position: absolute;
                            width: 100%;
                            height: 109px;
                            left: 0;
                            bottom: 0;
                            display: block;
                            img {
                                width: 100%;
                            }
                            ion-icon {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: auto;
                                width: 23px;
                                height: 23px;
                                color: $white;
                            }
                        }
                    }
                }
                &.images {
                    .caht_text {
                        min-height: 170px;
                        border-radius: 30px;
                        padding: 10px 10px;
                        overflow: hidden;
                        position: relative;
                        padding-bottom: 100px;
                        &.d-flex {
                            align-items: flex-start;
                        }
                        .img_box {
                            position: absolute;
                            width: 100%;
                            height: 109px;
                            left: 0;
                            bottom: 0;
                            display: block;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                &.contact {
                    h2 {
                        color: $theme-color;
                    }
                    .contact_box {
                        min-width: 75px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        ion-icon {
                            padding: 0 10px;
                            font-size: 1.7rem;
                            color: $theme-color;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 1px;
                            height: 35px;
                            display: block;
                            background: lighten($gray, 30%);
                            margin: auto;
                        }
                    }
                    &.send {
                        ion-icon {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    ion-footer {
        padding: 0 5px;
        &::before,
        &::after {
            display: none;
        }
        background: #e3e3e3;
        .list {
            margin: 0;
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            .item {
                border-radius: 10px;
                padding: 5px 0px;
                position: relative;
                overflow: hidden;
                ion-icon {
                    font-size: 2.2rem;
                    color: lighten($gray, 30%);
                    min-width: 50px;
                    text-align: center;
                    &[item-start] {
                        margin: 0;
                    }
                }
                [item-end] {
                    margin: 0 10px;
                    ion-icon {
                        min-width: 30px !important;
                        text-align: justify;
                    }
                }
            }
            .option {
                padding: 19px 0;
                position: absolute;
                top: 0;
                z-index: 11;
                transition: all .2s;
                width: 0;
                overflow: hidden;
                border-radius: 50px;
                height: 100%;
                ion-icon {
                    font-size: 2rem;
                    display: block;
                    margin: 0 auto;
                    width: 0;
                    overflow: hidden;
                    transition: all 1s;
                }
            }
            &.active {
                .option {
                    width: calc(100% - 47px);
                    transition: all .2s;
                    ion-icon {
                        width: auto;
                        transition: all 1s;
                    }
                }
            }
        }
    }
}

.selectable {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
