page-grouplist {
    .header .toolbar .title .toolbar-title {
        font-size: 1.75rem;
        letter-spacing: 0 !important;
    }
    .list {
        padding-top: 5px;
        margin: 0;
        margin-bottom: 53px;
        .item {
            padding: 15px 0px 0px 17px;
            .item-inner {
                padding: 0;
                border-bottom: .5px solid lighten($gray, 10%) !important;
                margin-left: 15px;
                padding-bottom: 20px;
                ion-label {
                    margin: 0;
                    h2 {
                        font-size: 1.67rem;
                        font-weight: 500;
                        span {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        small {
                            min-width: 50px;
                            text-align: center;
                            font-size: 1.2rem;
                            color: lighten($gray, 30%);
                            font-weight: 400;
                        }
                    }
                    p {
                        font-size: 1.35rem;
                        padding-top: 4px;
                        color: lighten($gray, 10%);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        ion-icon {
                            font-size: 1.5rem;
                            transform: rotate(90deg);
                            margin-right: 10px;
                            margin-left: 3px;
                        }
                        span {
                            font-weight: 500;
                        }
                    }
                }
                h6 {
                    &[item-end] {
                        margin: 0 12px;
                        border-radius: 50%;
                        padding: 1px 5px;
                        font-size: 1.1rem;
                        position: relative;
                        top: 13px;
                    }
                }
            }
            .profile_img_box {
                &[item-start] {
                    margin: 0;
                    width: 61px;
                    height: 60px;
                    position: relative;
                    top: -7px;
                    .profile_img {
                        width: 58px;
                        height: 58px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;
                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: -50% !important;
                            right: -50% !important;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                        }
                    }
                }
            }
            &:last-child {
                .item-inner {
                    border-bottom: 0 !important;
                }
            }
        }
    }
}
