<ion-header>
    <ion-navbar>
        <ion-title>{{'list_bots' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item class="active animated slideInRight delay_1" (click)="startChat(bot.id)"
            *ngFor="let bot of allBots;let i = index ">
            <div class="profile_img_box" item-start>
                <div class="profile_img">
                    <img src={{tenentUrl+bot.image}}>
                </div>
            </div>
            <h2 class="d-flex"><span>{{bot.name}}</span></h2>
            <p *ngIf="bot"><span>{{getShortDescription(bot.lastMessage)}}...</span></p>
        </ion-item>
    </ion-list>
</ion-content>