<ion-header>
    <ion-navbar>
        <ion-title>Chats
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines *ngIf="filterMessages()">
        <ion-item class="active animated slideInRight delay_1" (click)="startChat(bot.id)"
            *ngFor="let bot of filterMessages()">
            <div class="profile_img_box" item-start>
                <div class="profile_img">
                    <img src={{tenentUrl+bot.image}}>
                </div>
            </div>
            <h2 class="d-flex"><span>{{bot.name}}</span></h2>
            <p><span>{{bot.lastMessage.substring(0, 30)}}...</span></p>
        </ion-item>
    </ion-list>
</ion-content>