.item-inner{
    overflow: visible !important;
}
page-help {
    ion-list {
        margin-bottom: 0!important;
        h2 {
            margin: 0;
            font-size: 1.7rem;
            padding: 25px 20px 13px 20px;
            color: lighten($gray, 20%);
            font-weight: 400;
        }
        ion-item {
            padding: 17px 27px 15px 27px !important;
            margin-bottom: 5px!important;
            .item-inner {
                padding: 0!important;
                .input-wrapper {
                    display: block!important;
                    .details {
                        margin: 0;
                        font-size: 1.35rem;
                        color: darken($text-light, 5%);
                        padding-bottom: 7px;
                    }
                    ion-label {
                        padding: 0!important;
                        max-width: 100%;
                        .select-icon {
                            display: none;
                        }
                        .select-text {
                            font-size: 1.65rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
