<ion-header>
  <ion-navbar>
      <ion-title>Help</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content class="bg-color">
  <ion-list text-wrap no-lines #content>
      <ion-item class="animated slideInRight delay_1 item-text-wrap" *ngFor="let help of helpData;let i = index">
        <ion-label>{{help.topic}}</ion-label>
          <ion-label [innerHTML]="help.details" ></ion-label>
      </ion-item>
  </ion-list>
</ion-content>
