
page-signin {
    .logo-box {
        width: 70%;
        margin: 0 auto;
        margin-top: 20vh;
        img {
            width: 100%;
            text-align: center;
        }
    }
    .form {
        padding: 10pt;
        margin-top: 5vh;
        .list {
            .item {
                padding: 5px 0;
                border-radius: 10px;
                h2 {
                    &[item-start] {
                        margin: 0;
                        min-width: 55px;
                        font-size: 1.9rem;
                        font-weight: 500;
                    }
                }
                .button.btn {
                    &[item-end] {
                        margin: 0 10px;
                        min-width: 30px;
                        padding: 17px !important;
                    }
                }
            }
            .item-success{
                // box-shadow: 0 0 25px #32db64 !important;
                border: 2px solid #32db64 !important;

            }
            .item-error{
                border: 2px solid #f53d3d !important;

                // box-shadow: 0 0 25px #f53d3d !important;
            }
        }
    }
    .button {
        &.btn {
            font-weight: bold !important;
            height: 50px;
            font-size: 20px !important;
        }
    }
}
.input-wrapper{
    padding-left: 10pt !important;
}
