<!--
<ion-header>
    <ion-navbar>
        <ion-title>{{'sign_in' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
-->

<ion-content class="bg-theme">

    <div class="logo-box " text-center>
        <img src="assets/imgs/logo-small.png" class="animated zoomIn delay_3">
    </div>
    <div class="form">
        <button *ngIf="!login" (click)="login = true" ion-button large block class="btn white_btn">Login</button>
        <ion-list [hidden]="!login" no-lines class="animated slideInUp delay_3">
            <ion-item
                [ngClass]="{'item-success': tenentData.status==='success','item-error': tenentData.status==='failed'}">
                <ion-input #accountId name="accountId" autocomplete="false" spellcheck="true" type="text"
                    [(ngModel)]="tenent" placeholder="Enter Account ID/Tenant" required></ion-input>
                <button [disabled]="!accountId.ngControl.valid" item-end ion-button round small class="btn" (click)="verification()">
                    <ion-icon style="zoom: 1.5" name="arrow-forward"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
        <div style="text-align: center">
            <h5 style="color: #ffffff" *ngIf="accountId.ngControl.touched && !accountId.ngControl.valid">Account ID
                cannot
                be empty!</h5>
        </div>
    </div>


</ion-content>