@import '../assets/animated/animated';
//font used
@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-BoldItalic.woff2') format('woff2'), url('../assets/font/GoogleSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Regular.woff2') format('woff2'), url('../assets/font/GoogleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-MediumItalic.woff2') format('woff2'), url('../assets/font/GoogleSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Italic.woff2') format('woff2'), url('../assets/font/GoogleSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Bold.woff2') format('woff2'), url('../assets/font/GoogleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../assets/font/GoogleSans-Medium.woff2') format('woff2'), url('../assets/font/GoogleSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/material_icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

*,
body,
html,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
d,
strong,
lable,
ion-label,
li {
    font-family: 'Google Sans';
    letter-spacing: .5px;
}

$theme-color :#0295a8;
$text-theme-color:$theme-color;
$white:#fff;
$blue:#488aff;
$black:#000;
$gray:#838383;
$bg-color:#f6f8fa;
$green:#83d23a;
$red:#ff0000;
$fb: #0295a8;
$text-light:#ccd3e3;
//$text-dark:$bg-color;
.bg-color {
    background: $bg-color;
}

.bg-theme {
    // background: linear-gradient(180deg, #ffffff, #006eb8);
    background: linear-gradient( 0deg,  #283044 2.3%, #0295a8 97.6% );

}

.text-theme {
    color: $text-theme-color!important;
}

.text-white {
    color: $white !important;
}

.text-gray {
    color: $gray !important;
}

.text-dark {
    color: darken($gray, 15%) !important;
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto;
        margin-right: 0;
        display: block;
    }
}

.button {
    &.btn {
        font-size: 1.5rem;
        font-weight: 400;
        height: 47px;
        text-transform: uppercase;
        box-shadow: none;
        background: $theme-color;
        text-transform: none;
        &:hover:not(.disable-hover) {
            background: $theme-color;
        }
        &[outline] {
            background: none;
            border: 1px solid $theme-color;
            &:hover:not(.disable-hover) {
                background: none;
            }
        }
        &[block] {
            border-radius: 4px;
            &[round] {
                border-radius: 50px;
            }
        }
        &.white_btn {
            background: $white;
            color: $theme-color;
            &:hover:not(.disable-hover) {
                background: $white;
            }
        }
        &.fb_btn {
            background: $fb;
            color: $white;
            &:hover:not(.disable-hover) {
                background: $fb;
            }
        }
    }
}

.header {
    &.bg-transparent {
        .toolbar-background {
            background: transparent !important;
        }
    }
    &::after {
        display: none;
    }
    .toolbar {
        .toolbar-background {
            background-color: $theme-color;
            border: none !important;
        }
        .title {
            .toolbar-title {
                font-size: 1.9rem;
                font-weight: 500;
                color: $white;
                display: flex;
                align-items: center;
                letter-spacing: .5px!important;
                .end {
                    margin-left: auto !important;
                    img {
                        width: 22px;
                        margin: 0 10px;
                    }
                }
            }
        }
        .back-button {
            color: $white;
            .ion-md-arrow-back:before {
                content: "\f3cf";
            }
        }
        &.toolbar-ios {
            ion-title {
                padding: 0 16px;
                position: unset;
                .toolbar-title-ios {
                    text-align: justify;
                }
            }
            .bar-buttons-ios {
                color: $white;
            }
            .back-button-text {
                display: none;
            }
            .back-button.show-back-button {
                color: $white;
                .ion-md-arrow-back:before {
                    content: "\f3cf"!important;
                }
            }
        }
    }
}

.fab_btn {
    .fab {
        width: 60px;
        height: 60px;
        box-shadow: 0 20px 22px rgba(147, 183, 255, 0.24);
        ion-icon {
            font-size: 2.8rem;
        }
    }
}

.form {
    width: 100%;
    margin: 0 auto;
    .item {
        padding-left: 0;
        padding: 0;
        border-radius: 0px;
        border: none !important;
        box-shadow: none !important;
        background: $white;
        align-items: center;
        .item-inner {
            border: none !important;
            box-shadow: none !important;
            margin-left: 0 !important;
            padding: 0;
            .label {
                font-size: 1.3rem;
                font-weight: 400;
                color: $text-light;
                text-transform: none;
                opacity: 1 !important;
            }
            ion-textarea,
            ion-input {
                font-size: 1.6rem;
                font-weight: 500;
                margin-top: 0px;
                color: $black;
                .text-input {
                    margin: 0;
                }
                 ::-webkit-input-placeholder {
                    color: $text-light;
                    font-size: 1.6rem;
                }
                 ::-moz-placeholder {
                    color: $text-light;
                    font-size: 1.6rem;
                }
                 :-ms-input-placeholder {
                    color: $text-light;
                    font-size: 1.6rem;
                }
                 :-moz-placeholder {
                    color: $text-light;
                    font-size: 1.6rem;
                }
            }
        }
        &.item-input-has-focus {
            .label {
                color: $gray;
            }
        }
        &.password {
            ion-input {
                .text-input {
                    letter-spacing: 5px;
                }
            }
        }
    }
}

.animated {
    &.delay_1 {
        animation-duration: 500ms;
    }
    &.delay_2 {
        animation-duration: 600ms;
    }
    &.delay_3 {
        animation-duration: 700ms;
    }
    &.delay_4 {
        animation-duration: 800ms;
    }
    &.delay_5 {
        animation-duration: 900ms;
    }
    &.delay_6 {
        animation-duration: 1000ms;
    }
    &.delay_7 {
        animation-duration: 1100ms;
    }
    &.delay_8 {
        animation-duration: 1150ms;
    }
    &.delay_9 {
        animation-duration: 1200ms;
    }
    &.delay_10 {
        animation-duration: 1250ms;
    }
}

ion-tabs {
    .tabbar {
        background: #0295a8 !important;
        box-shadow: 0 -18px 30px rgba(0, 0, 0, 0.06);
        &::before {
            display: none;
        }
        .tab-button {
            background-size: 18px !important;
            border: none!important;
            opacity: 1 !important;
            ion-icon {
                font-size: 2.2rem;
                color: $white;
            }
            &[aria-selected=true] {
                ion-icon {
                    color: #00c8ff !important;
                }
            }
            .tab-button-text {
                color: white !important;
            }
        }
    }
}

[dir="rtl"] body {
    .header {
        .toolbar {
            .title {
                .toolbar-title {
                    .end {
                        margin-left: 0 !important;
                        margin-right: auto !important;
                    }
                }
            }
        }
    }
    .d-flex {
        .end {
            margin-left: 0;
            margin-right: auto;
        }
    }
    .form .item .item-inner ion-textarea .text-input,
    .form .item .item-inner ion-input .text-input {
        text-align: right;
    }
    .alert-md .alert-tappable {
        padding-right: 42px !important;
    }
    page-chatlist .list .item {
        padding: 15px 17px 0px 0px;
        .item-inner {
            margin-left: 0px;
            margin-right: 15px;
        }
        .profile_img_box::after {
            right: unset;
            left: 0;
        }
    }
    page-newchat {
        .header .toolbar .title .toolbar-title span ion-icon {
            margin-left: 0px;
            margin-right: 16px;
        }
        ion-row .list .item .item-inner {
            margin-left: 0px;
            margin-right: 15px;
        }
    }
    page-grouplist .list .item {
        padding: 15px 15px 0px 0px;
        .item-inner {
            margin-left: 0px;
            margin-right: 15px;
        }
    }
    page-chatting .header .toolbar .title .toolbar-title {
        padding-right: 0 !important;
        span.end ion-icon {
            margin-right: 16px;
            margin-left: 0;
        }
    }
    page-chatting .content .chat_container .chat-box,
    page-groupchatting .content .chat_container .chat-box {
        &.received {
            float: right;
        }
        &.send {
            float: left;
        }
    }
    page-groupinfo .form .list .members_in_group .item {
        padding: 20px 16px 0px 0px;
        .item-inner {
            margin-left: 0px !important;
            margin-right: 16px !important;
        }
        ion-icon[item-end] {
            margin-left: 16px;
            margin-right: 0px;
        }
    }
    page-creategroup {
        .list .item {
            padding: 15px 21px 0px 0px;
            .item-inner {
                margin-left: 0px;
                margin-right: 15px;
                ion-checkbox[item-end] {
                    margin-left: 21px !important;
                    margin-right: 0 !important;
                }
            }
        }
        ion-footer {
            .d-flex {
                padding: 6px 20px 12px 7px;
            }
            .profile_img_box {
                &:first-child {
                    margin-left: 7px;
                    margin-right: 20px
                }
                &:last-child {
                    margin-right: 7px;
                    margin-left: 20px
                }
            }
        }
    }
    page-calllogs .list .item {
        padding: 15px 17px 0px 0px;
        .item-inner {
            margin-left: 0px;
            margin-right: 15px;
            ion-icon[item-end] {
                margin-left: 16px;
                margin-right: 0px;
            }
        }
    }
    page-videocall ion-footer {
        padding: 0px 0px 14px 14px;
    }
    page-myprofile .form .list .item.status ion-icon {
        right: unset;
        left: 24px;
    }
}
