<ion-header>
    <ion-navbar>
        <ion-title>{{'my_profile' | translate}}
            <!--            <span class="end">{{'edit' | translate}}</span>-->
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <div class="form">
        <ion-list no-lines>

            <ion-item class="profile">
                <div class="profile_img_box animated zoomIn delay_1">
                    <div class="profile_img">
                        <img src="assets/imgs/8.png">
                    </div>
                    <ion-icon class="material-icons bg-theme text-white">photo_camera</ion-icon>
                </div>
                <h1 class="" text-center>{{'my_profile' | translate}}</h1>
            </ion-item>

            <ion-item class="status animated slideInRight delay_1">
                <ion-input type="text" text-center placeholder="Hate is Heavy, Let it go !" readonly></ion-input>
                <ion-icon class="material-icons" item-end>create</ion-icon>
            </ion-item>

            <h2>{{'profile_info' | translate}}</h2>

            <ion-item class="animated slideInRight delay_2">
                <ion-label>{{'phone_number' | translate}}</ion-label>
                <ion-input type="text" placeholder="{{'change_your_phone_number' | translate}}" value="+1 987 654 3210" readonly></ion-input>
                <h3 class="text-theme" item-end (click)="signin()">{{'logout' | translate}}</h3>
            </ion-item>

            <ion-item class="animated slideInRight delay_3">
                <ion-label>{{'email_address' | translate}}</ion-label>
                <ion-input type="text" placeholder="{{'enter_email_address' | translate}}" value="mymailaddress@mail.com" readonly></ion-input>
            </ion-item>

            <ion-item class="animated slideInRight delay_4">
                <ion-label>{{'gender' | translate}}</ion-label>
                <ion-input type="text" placeholder="{{'select_gender' | translate}}" value="Female" readonly></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
