page-myprofile {
    //    .header .toolbar .title .toolbar-title {
    //        font-size: 2.3rem;
    //        letter-spacing: 0 !important;
    //        span {
    //            font-size: 1.9rem;
    //        }
    //    }
    .form {
        .list {
            margin: 0;
            h2 {
                margin: 0;
                font-size: 1.65rem;
                letter-spacing: 0;
                padding: 12px 16px 12px 16px;
                color: lighten($gray, 20%);
            }
            .item {
                padding: 13px 15px;
                margin-bottom: 7px;
                &.profile {
                    padding: 6px 13px;
                    .label {
                        margin: 0;
                        h1 {
                            margin: 0;
                            color: $black;
                            font-weight: 600;
                            letter-spacing: 0;
                            font-size: 2.1rem;
                            padding-bottom: 13px;
                        }
                    }
                    .profile_img_box {
                        width: 140px;
                        margin: 23px auto;
                        margin-bottom: 22px;
                        position: relative;
                        overflow: hidden;
                        .profile_img {
                            width: 140px;
                            height: 140px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 50%;
                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: -50% !important;
                                right: -50% !important;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                            }
                        }
                        ion-icon {
                            font-size: 1.6rem;
                            width: 32px;
                            text-align: center;
                            height: 32px;
                            line-height: 32px;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            right: 6px;
                        }
                    }
                }
                .label {
                    margin: 0 3px;
                    margin-bottom: 7px;
                }
                .input-wrapper {
                    display: block;
                }
                &.status {
                    padding: 6px 13px;
                    input {
                        top: 12px;
                        position: relative;
                    }
                    ion-input {
                         ::-webkit-input-placeholder {
                            color: $text-light;
                            font-weight: 500;
                        }
                         ::-moz-placeholder {
                            color: $text-light;
                            font-weight: 500;
                        }
                         :-ms-input-placeholder {
                            color: $text-light;
                            font-weight: 500;
                        }
                         :-moz-placeholder {
                            color: $text-light;
                            font-weight: 500;
                        }
                    }
                    ion-icon {
                        &[item-end] {
                            margin: 0;
                        }
                        font-size: 1.9rem;
                        position: relative;
                        top: 7px;
                        color: $text-light;
                        right: 24px;
                    }
                }
                h3 {
                    &[item-end] {
                        margin: 0;
                        font-size: 1.8rem;
                        font-weight: 500;
                        min-width: 80px;
                    }
                }
                ion-input {
                     ::-webkit-input-placeholder {
                        color: lighten($text-light, 5%);
                        font-weight: 400;
                    }
                     ::-moz-placeholder {
                        color: lighten($text-light, 5%);
                        font-size: 1.6rem;
                        font-weight: 400;
                    }
                     :-ms-input-placeholder {
                        color: lighten($text-light, 5%);
                        font-weight: 400;
                    }
                     :-moz-placeholder {
                        color: lighten($text-light, 5%);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
